{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block title %}
{{ super()}}
Bienvenido
{% endblock %}

{% block content %}

{% if username %}
<h1>Bienvenido, {{username | capitalize }}</h1>
{% endif %}

{% if user_ip %}
<h3>Hello World from Flask, tu IP es {{ user_ip }}</h3>
{% else %}
<a href="{{ url_for('index') }}">Ir al home</a>
{% endif %}

<div class="container">
    <!--<form action="{{url_for('hello')}}" method="post">
        {{login_form.username}}
        {{login_form.username.label}}
    </form>-->
    {{wtf.quick_form(login_form)}}

</div>

<ul>
    {% for todo in todos %}
    {{macros.render_todo(todo)}}
    {% endfor %}
</ul>
{% endblock %}

