<!--<nav>
    <ul>
        <img src="{{url_for('static',filename='images/platzi.png')}}" alt="Platzi logo">
        <li><a href="{{ url_for('index')}}" >Go home</a></li>
        <li><a href="https://platzi.com" target="_blank">Go Platzi </a></li>
    </ul>

</nav>-->


<!--
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;

    &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        </ul>
    </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;
  </div>&lt;!&ndash; /.container-fluid &ndash;&gt;
</nav>
-->

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('index')}}"><img src="{{url_for('static', filename='images/platzi.png')}}" style="max-width: 48px" alt="Platzi logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('index')}}">Go Home</a></li>
        <li><a href="https://platzi.com" target="_blank">Go Platzi</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>